.env
# Ignore virtual environment folder
.venv/

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore temporary or IDE-related files
.vscode/
.idea/
*.swp

# Ignore other unnecessary files
build/
dist/
*.egg-info/
