body {
    width: 400px;
    min-height: 550px; /* Use min-height instead of fixed height */
    background-image: url('grass.png'); 
    background-size: auto;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    color: black;
    align-items: center;
    flex-direction: column;
    overflow-y: auto; /* Allow scrolling if content overflows */
}

.header-left {
    padding: 20px;
    color: black;
    display: flex;
    margin-left: 0;
}

.logo {
    height: 24px; 
    width: auto;
}

h1 {
    font-size: 36px;
    margin: 0;
    color: black;
    text-shadow: none;
}

#plants-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-content: flex-start;
    width: 100%; 

    box-sizing: border-box;
}

.plant-card {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
}

.plant-card img {
    width: 100px;
}

#home-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}