body {
    width: 400px;
    height: 550px;
    background-color: #7C905B;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    text-align: left; /* Aligns the title to the left */
    padding-left: -10px; /* Moves the title more to the left */
    padding-top: -10px; /* Moves the title up */
    margin: 0; /* Removes any default margin */
    font-size: 30px;
}

#garden {
    text-align: center;
}

#task-container {
    background-color: #C6CA97;
    padding: 15px;
    border-radius: 10px;
    max-height: 320px;
    overflow-y: auto;
    margin: 10px 0;
    height: 300px; /* Fixed size for the task container */
    position: relative;
}

#task-list {
    list-style-type: none;
    padding: 0;
    height: 100%;
}

#task-list li {
    background: #FBF6E6;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-task {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px 10px;
    font-size: 20px;
    background-color: #FBF6E6;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#new-task {
    display: block;
    margin: 20px 0 10px 0;
    padding: 10px 10px;
    font-size: 16px;
    width: calc(100% - 30px);
    border-radius: 10px;
    border: 1px solid #ccc;
}
