body {
    width: 400px;
    height: 550px;
    background-color: #8a9a5b;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    box-sizing: border-box;
}

.header {
    text-align: center;
}

.page-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.tasks-container {
    padding: 15px;
    background-color: rgba(210, 215, 170, 0.7);
    margin: 15px;
    border-radius: 10px;
}

.task-item {
    background-color: #f9f5e7;
    margin: 10px 0;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.checkbox {
    width: 24px;
    height: 24px;
    border: 2px solid #4a6741;
    margin-right: 15px;
    border-radius: 3px;
}

.task-text {
    font-size: 20px;
    color: #222;
}
